# Environments
.venv/
venv/
env/

# MLflow
mlruns/
mlflow.db

# Data & Models
data/
models/
outputs/
plots/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
